<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
</head>
<body>
    {{>header}}
    <p>{{content}}</p>
    <p>You can make contribute to this project <a style="color:blue;margin:0" href="https://www.github.com/Aayushadh/News-App">here</a></p>
   {{>footer}}
</body>
</html>